#DiacoDesignLink,#pens{
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  bottom: 25px;
  opacity:0.7;
}
#DiacoDesignLink span,#pens span{
  font-family:tahoma;
  font-size:13px;
  margin-left:5px;
  vertical-align: 20%;
}
#DiacoDesignLink:hover,#pens:hover{
  opacity:1;
}
#DiacoDesignLink { right: 30px; }
#pens { left: 30px; }